RewriteEngine On

RewriteRule ^commentaire(/.*)?$ commentaire.php [L]
RewriteRule ^joueur(/.*)?$ joueur.php [L]
RewriteRule ^participation[/]?(.*)$ participation.php [L]
RewriteRule ^rencontre(/.*)?$ rencontre.php [L]
RewriteRule ^statistiques(/.*)?$ statistiques.php [L]