RewriteEngine On


#############
#Classe Commentaire

#Réecriture pour le GET du Commentaire pour le récupérer
#http://localhost:8081/commentaire?joueurId=2 --> http://localhost:8081/joueur/2/commentaire
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^joueur/([0-9]+)/commentaire$ commentaire.php?joueurId=$1 [L]

#Réecriture pour le DELETE d'un commentaire pour le supprimer
#http://localhost:8081/?commentaireId=8 --> http://localhost:8081/commentaire/8
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^commentaire/([0-9]+)$ commentaire.php?commentaireId=$1 [L]

#Réecriture pour l'url des Commentaires
#http://localhost:8081/commentaire.php --> http://localhost:8081/commentaire
RewriteRule ^commentaire(/.*)?$ commentaire.php [L]


#############
#Classe Joueur

#Réecriture pour le GET du Joueur pour le récupérer
#http://localhost:8081/joueur?id=8 --> http://localhost:8081/joueur/8
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^joueur/([0-9]+)$ joueur.php?id=$1 [L]

#Réecriture pour le GET du Joueur pour récupérer la liste des joueurs avec un certain statut et une recherche sur tous les champs des joueurs (nom,num tel, prenom...)
#Le paramètre STATUT peut être null donc je rajoute une étoile dans la condition de caractère pour inclure la chaîne vide
#"+" signifie un ou plusieurs et "*" signifie 0 ou plusieurs
#http://localhost:8081/joueur?recherche=Le&statut=ACTIF --> http://localhost:8081/joueur/recherche/Le/ACTIF
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^joueur/recherche/([^/]+)/([^/]*)$ joueur.php?recherche=$1&statut=$2 [L]

#Réecriture pour le Get du Joueur pour récupérer des Joueurs à partir d'un ID de Rencontre
#http://localhost:8081/joueur?rencontreId=4 --> http://localhost:8081/joueur/rencontre/4
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^joueur/rencontre/([0-9]+)$ joueur.php?rencontreId=$1 [L]

#Réecriture pour le PUT du Joueur pour le modifier
#http://localhost:8081/joueur?id=8 --> http://localhost:8081/joueur/8
RewriteCond %{REQUEST_METHOD} PUT
RewriteRule ^joueur/([0-9]+)$ joueur.php?id=$1 [L]

#Réecriture pour le DELETE du Joueur pour le supprimer
#http://localhost:8081/joueur?id=8 --> http://localhost:8081/joueur/8
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^joueur/([0-9]+)$ joueur.php?id=$1 [L]

#Réecriture pour l'url des Joueurs
#http://localhost:8081/joueur.php --> http://localhost:8081/joueur
RewriteRule ^joueur(/.*)?$ joueur.php [L]


#############
#Classe Participation

#Réecriture pour le GET de la Participation pour la récupérer
#http://localhost:8081/participation?rencontreId=1 --> http://localhost:8081/participation/1
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^participation/([0-9]+)$ participation.php?rencontreId=$1 [L]

#Réecriture pour le PUT de la Participation pour la modifier
#http://localhost:8081/participation?participationId=24 --> http://localhost:8081/participation/24
RewriteCond %{REQUEST_METHOD} PUT
RewriteRule ^participation/([0-9]+)$ participation.php?participationId=$1 [L]

#Réecriture pour le DELETE de la Participation pour le supprimer
#http://localhost:8081/participation?participationId=8 --> http://localhost:8081/participation/8
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^participation/([0-9]+)$ participation.php?id=$1 [L]

#Réecriture pour l'url des Participations
#http://localhost:8081/participation.php --> http://localhost:8081/participation
RewriteRule ^participation[/]?(.*)$ participation.php [L]


#############
#Classe Rencontre

#Réecriture pour le GET de la Rencontre pour la récupérer
#http://localhost:8081/rencontre?rencontreId=4 --> http://localhost:8081/rencontre/4
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^rencontre/([0-9]+)$ rencontre.php?rencontreId=$1 [L]

#Réecriture pour le DELETE de la Rencontre pour la supprimer
#http://localhost:8081/rencontre?rencontreId=4 --> http://localhost:8081/rencontre/4
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^rencontre/([0-9]+)$ rencontre.php?rencontreId=$1 [L]

#Réecriture pour l'url des Rencontres
RewriteRule ^rencontre(/.*)?$ rencontre.php [L]

#############
#Classe Statistiques

#Réecriture pour le GET des Statistiques pour avoir les statistiques de l'équipe
#Cela marche même quand le paramètre est null car le paramètre ne change rien (il faudra l'utiliser comme ça)
#http://localhost:8081/statistiques?equipe= --> http://localhost:8081/statistiques/equipe/
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^statistiques/equipe/([0-9]*)$ statistiques.php?equipe=$1 [L]

#Réecriture pour le GET des Statistiques pour avoir les statistiques de tous les joueurs
#Cela marche même quand le paramètre est null car le paramètre ne change rien (il faudra l'utiliser comme ça)
#http://localhost:8081/statistiques?joueurs= --> http://localhost:8081/statistiques/joueurs/
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^statistiques/joueurs/([0-9]*)$ statistiques.php?joueurs=$1 [L]

#Réecriture pour l'url des Statistiques
RewriteRule ^statistiques(/.*)?$ statistiques.php [L]